.Body {
  overflow-x: hidden;
}

.TopBar {
  display: flex;
  justify-content: center;
  background-color: #76ba1b;
}

.Question-box {
  margin-top: 200px;
  display: flex;
  justify-content: center;
}

.buttonSlide {
  display: flex;
  gap: 500px;
  margin-top: 100px;
  justify-content: center;
  height: 50px;
}

.buttonSlide-next {
  height: 20cm;
}

.buttonSlide-prev {
}

.pictureNext {
  height: 50px;
}

.picturePrev {
  height: 50px;
}

.BottomBar {
  display: flex;
  justify-content: center;

  height: 200px;
  align-items: flex-end;
}

.BottomBar {
  gap: 50px;
}

.stars {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  height: 20px;
}

.customized-10 {
}

.pictureBot {
  height: 100px;
}

@media only screen and (max-width: 832px) {
  .BottomBar {
    display: flex;
    height: 400px;
    flex-wrap: wrap;
    gap: 50px;
  }

  .Question-box {
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
  }

  .stars {
    display: flex;
    flex-wrap: wrap;
  }
}
